body{
	background: #99BBFF;
	width: 80%;
	margin: 0px auto;
}

div{
	background: #77DDFF;
	margin: 0px auto;
	display: flex;
    align-items:center; 
}

p{
	font-size: 36px;
	font-family: "Comic Sans MS";
	margin: 0px auto;
}

#top{
	padding: 8px;
	text-align: right;
	background: #00FFCC;
    border: 1px solid #00FFCC;
}

#bottom{
	margin: 0px auto; 
}

#board{
	margin: 0px auto;
}
